/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light and Dark Mode */
:root {
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #000000;
  --text-dark: #ffffff;
}

html {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
